<footer>
    
    <div class="footlinks">
      <%= link_to "API", "https://github.com/pigfly/RMIT-CSIT-RAD/tree/master/2018_S1/assignment2" %>
     |<%= link_to "About", new_session_path %>
    </div>
</footer>