nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;

  .navlinks {
    a {
      padding: 0 12px;
    }
  }
}

ul {
  list-style: none;
}

.link {
  margin: 12px auto;
}

.metadata {
  span {
    margin: 0 4px;
    border-right: 2px solid #777;
    
    &:first-child {
      margin: 0;
    }
    
    &:last-child {
      border: 0;
    }
  }
}

.comment {
  margin: 12px auto;
  border-bottom: 2px solid #f5f5f5;
}

footer {
   position: fixed;
   left: 0;
   bottom: 10px;
   width: 100%;
   color: blue;
   text-align: center;
   .footlinks {
    a {
      padding: 0 12px;
    }
  }
}